@import 'bootstrap/scss/bootstrap';

* {
    font-size: 18px;
}

a {
    text-decoration: none;
}

.nakedForm-container, .form-container {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nakedForm-container {
    height: 100vh;
}

.form-check-label {
    cursor: pointer;
}

.form-check-label:hover {
    text-decoration: underline;
}

.toggle-checkboxes {
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    font-size: 0.8rem;
    transition: opacity 0.3s;
    border-bottom: dashed 2px;
}

.toggle-checkboxes:hover {
    opacity: 0.7;
}

.toggle-add {
    color: #0d6efd;
    border-bottom-color: #0d6efd;
}

.toggle-remove {
    color: #ffc107;
    border-bottom-color: #ffc107;
}
